<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="MySqlKey" connectionString="server=wgudb.ucertify.com;user id=U06vbi;persistsecurityinfo=True;database=U06vbi;allowuservariables=True"
   providerName="System.Data.SqlClient" />
  <add name="C969PA_CodyBurkholz_001248460.Properties.Settings.U06vbiConnectionString"
   connectionString="server=wgudb.ucertify.com;user id=U06vbi;password=53688882011;persistsecurityinfo=True;database=U06vbi;allowuservariables=True"
   providerName="MySql.Data.MySqlClient" />
 </connectionStrings>
</configuration>